.links {
   /* white-space: nowrap; */
    position: relative;
    padding-left: 100px;
   }

.links * {
    display: inline;
}

#links {
    position: relative;
    display:inline-block;
    width: 500px
}

.body {
    margin-top: 0mm;
    margin-bottom: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
}

#header {
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    background-color: aqua;
    margin-top: -35px;
    opacity: 0.6;
}

#header-1 {
    margin-bottom: 0px;
    font-size: 50px;
}

#dogsOrCatsQuestion {
    position: relative;
    height: 500px;
    width: 300px;
    bottom: -150px;
    left: 50%;
    transform:translateX(-50%);
}


#footer { /*do not change*/
    position: fixed;
    Width: 100%;
    bottom: 5px;
    font-size: 10px; 
}

html,body{ /*do not change*/
    height: 100vh;
    margin: 0;
    overflow:auto;
}

 /** {
    overflow:auto; 
} */

/*
html,body{
    height: 100vh;
  margin: 0;
  overflow: visible;
}
