.links {
   /* white-space: nowrap; */
    position: relative;
    padding-left: 100px;
   }

.links * {
    display: inline;
}

#links {
    position: relative;
    display:inline-block;
    width: 500px
}

.body {
    margin-top: 0mm;
    margin-bottom: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
}

#header {
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    background-color: aqua;
    margin-top: 0px;
    opacity: 0.6;
}

#header-1 {
    font-size: 50px;
}

#dogsOrCatsQuestion {
    position: relative;
    height: 500px;
    width: 200px;
    bottom: -200px;
    left: 50%;
    transform:translateX(-50%);
}

/*#test {
    position: relative;
    bottom: 0px;
}*/

* {
    overflow:hidden; 
}

